body{background-image: url(background.jpeg);
    border: solid blue 5px;
}

.container{margin-left: 50px;}
  
.main_title{background-color: #e8b52c;
            padding: 30px;
            border: solid black 10px;
}

.main_title h1,h3{text-align: center;
                  color:#c60d0d;
}

.results{background-color:red ;
         text-align: center;
         font-size: 40px;
         font-weight: bold;
         padding: 30px;
         position: absolute;
}

p{font-size: 20px;
  font-style: italic;
  font-weight: bold;
}

#radio_answers{font-size: 15px;
               display: inline-block;
               font-weight: normal;
               font-family: sans-serif;
               color: #0969c1;
}

input[type="radio"]{font-size:120px;}
  
.question1{margin-top: 25px;}
.question2{margin-top: 25px;}
.question3{margin-top: 25px;}
.question4{margin-top: 25px;}
.question5{margin-top: 25px;}

#submit_button{width: 20%;
              margin-top: 25px;
              padding: 10px;
}

#reset_button{width: 20%;
              margin-top: 25px;
              padding: 10px;
}

footer{margin-right: 0px;
background-color: green;
margin-top: 25px;
border-radius: 20px;
border: solid orange 5px;
}

.main_footer{padding: 20px;                    
}

.main_footer h3{text-align: center;
          font-size: 40px;
          color: #003fd3;
}        